<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TemplateView</title>
</head>
<style>
    body{
        background-color: black;
    }
    h1, p{
        color: white;
    }
</style>
<body>
    <h1>HomePage</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque labore eligendi provident earum adipisci, officia, esse rerum voluptate ex porro odio illo delectus! Non voluptas ratione tenetur veniam placeat fugiat!</p>
</body>
</html>