<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TemplateView</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    {% block content %}
    <div class="container my-4">
        <h1>Notas HernandezVivas</h1>
        <a href="{% url 'new' %}" class="btn btn-primary mb-3">Nueva nota</a>
        <ul class="list-group">
            {% for nota in object_list %}
                <li class="list-group-item d-flex justify-content-between align-items-center"> 
                    <div>
                        <h5>{{ nota.title }}</h5>
                        <p>{{ nota.content }}</p>
                    </div>
                    <div>
                        <a href="{% url 'detail' nota.id %}" class="btn btn-info btn-sm">Ver</a>
                        <a href="{% url 'edit' nota.id %} " class="btn btn-warning btn-sm">Editar</a> 
                        <a href="{% url 'delete' nota.id %}" class="btn btn-danger btn-sm">Eliminar</a> 
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endblock %}    
</body>
</html>